In [1]:
import pandas as pd
from lsst.sims.featureScheduler.surveys import generate_dd_surveys
import numpy as np

In [2]:
surveys = generate_dd_surveys()

In [3]:
ras = []
decs = []
names = []
for survey in surveys:
    ras.append(np.unique(survey.observations['RA']))
    decs.append(np.unique(survey.observations['dec']))
    names.append(np.unique(survey.observations['note']))

In [4]:
table = []
for i,all_ra in enumerate(ras):
    for j,ra in enumerate(all_ra):
        table.append((names[i][0].replace('DD:',''), np.degrees(ra), np.degrees(decs[i][j])))

In [5]:
table = pd.DataFrame(table, columns=['Name', 'RA', 'Dec'])

In [6]:
table

      Name          RA        Dec
0  ELAISS1    9.450000 -44.000000
1  XMM-LSS   35.708333  -4.750000
2    ECDFS   53.125000 -28.100000
3   COSMOS  150.100000   2.181944
4     EDFS   58.970000 -49.280000
5     EDFS   63.600000 -47.600000

In [8]:
f = open('ddf_tex', 'w')
table = table.to_latex(float_format="%.3f", index=False)
print(table, file=f)
f.close()